<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
$(document).ready(function() {
  console.log("here we go");
  console.log(navigator);

  ///functions///
  var weAreInTheMagicTimeWindow = function(){
    var now = new Date(Date.now());
    var timeStart = new Date(Date.parse("Tue May 28 2015 00:00:01 GMT+1000"));
    var timeEnd   = new Date(Date.parse("Tue May 29 2015 23:59:59 GMT+1000"));
    if( (now > timeStart) && (now < timeEnd)){
      console.log("OMG, The futures forum is ON!!!");
      return true;
    }else{
      return false;
    }
  };

  //move the marker according to the time.
  var getRootElementFontSize = function() {
    return parseFloat( getComputedStyle( document.documentElement ).fontSize ); //http://tzi.fr/js/snippet/convert-em-in-px
  }
  var timepx = function(offset){
    return getRootElementFontSize()*(timeInEms()-offset);
  };
  var timeInEms = function(){
    var now = new Date(Date.now());
    //var now = new Date(Date.parse("Tue May 05 2015 19:30:00 GMT+1000"));
    var time = now.getHours() + (now.getMinutes()/60) + (now.getSeconds()/3600); //time in decimal hours
    var convertedTime = time * exchangeRate;
    return convertedTime;
  };
  var moveMarker = function(){
    convertedTime = timeInEms();
    // console.log(convertedTime);
    $(".time-marker").css( "top", convertedTime + "rem" );
  }
  var pointArrow = function(){
    var jumpRectangle = document.getElementById("jump-button").getBoundingClientRect();
    var yOffset       = window.pageYOffset;
    var topOff        = jumpRectangle.top + (jumpRectangle.height/2);
    var scrollOffset  = yOffset+topOff;
    var d             = scrollOffset-timepx(0);
    var adjacent      = window.innerWidth - (jumpRectangle.width/2);

    var angle = -Math.atan(d/adjacent);

    // console.log(
    //             "yOffset",     Math.round(yOffset),
    //             "topOff",      Math.round(topOff),
    //             "scrollOffset",Math.round(scrollOffset),
    //             "d",           Math.round(d),
    //             "adjacent",    Math.round(adjacent),
    //             "angle",       angle
    //             );
    document.getElementById("jump-button").style["transform"] = "rotate("+angle+"rad)";
  };

  $(".twitter-feed").css("display",  "none");
  $(".jump").css(        "display",  "none");
  $(".time-marker").css( "display",  "none");

  if(weAreInTheMagicTimeWindow()){
    $(".twitter-feed").css("display", "block");
    $(".jump").css(        "display", "block");
    $(".time-marker").css( "display", "block");
  }

  if(/(iPhone|iPad|iPod)/g.test(    navigator.userAgent)){
    //testing to see if we are on iOS
    console.log("I'm an iOS");
    document.getElementById("ios-homescreen-explainer").style["display"] = "block";
  }
  if(/(Android*)/g.test( navigator.userAgent)){
    //testing to see if we are on Android
    console.log("I'm an android");
    document.getElementById("android-homescreen-explainer").style["display"] = "block";
  }

    var selectedCardManager = new function() {
      var selectedCard = null;
      this.removeCurrentCard = function() {
        $(selectedCard).children('.ff-twitter-widget').children().remove();
        selectedCard = null;

        $(".jump").css(        "display", "block");
        $(".time-marker").css( "display", "block");
        $(".twitter-feed").css("display",  "none");
      };
      this.setCurrentCard = function(newCard) {
        selectedCard = newCard;
        var twitterWidgetParent = $(selectedCard).find('.ff-twitter-widget');
        var twitterWidget = $('<a href="">')
          .addClass('twitter-timeline')
          .attr('width','')
          .attr('height','')
          .attr('data-widget-id', twitterWidgetParent.data('widget-id'))
          .attr('data-theme','light')
          .attr('data-link-color','rgba(150,150,150,1)')
          .attr('data-chrome','noheader nofooter noborders transparent noscrollbar')
          .attr('data-tweet-limit','20')
          .attr('data-aria-polite','polite')[0];
        // console.log('created: ', twitterWidget);
        twitterWidgetParent.append(twitterWidget);
        twttr.widgets.load(twitterWidgetParent[0]);
        // console.log('appended to: ', twitterWidgetParent);

        $(".jump").css(        "display", "none");
        $(".time-marker").css( "display", "none");
        $(".twitter-feed").css("display", "block");
      };
      this.manage = function(newCard) {
        console.log('Managing:', newCard);
        if (selectedCard === null) {
          console.log('setting current card');
          this.setCurrentCard(newCard);
        } else {
          console.log('removing current card');
          this.removeCurrentCard();
        }
      }
    }();

    var weAreInTheMagicTimeWindow = function(){
      var now = new Date(Date.now());
      var timeStart = new Date(Date.parse("Tue May 28 2015 00:00:01 GMT+1000"));
      var timeEnd   = new Date(Date.parse("Tue May 29 2015 23:59:59 GMT+1000"));
      if( (now > timeStart) && (now < timeEnd)){
        console.log("OMG, The futures forum is ON!!!");
        return true;
      }else{
        return false;
      }
    };

    //move the marker according to the time.
    var getRootElementFontSize = function() {
      return parseFloat( getComputedStyle( document.documentElement ).fontSize ); //http://tzi.fr/js/snippet/convert-em-in-px
    }
    var timepx = function(offset){
      return getRootElementFontSize()*(timeInEms()-offset);
    };
    var timeInEms = function(){
      var now = new Date(Date.now());
      //var now = new Date(Date.parse("Tue May 05 2015 19:30:00 GMT+1000"));
      var time = now.getHours() + (now.getMinutes()/60) + (now.getSeconds()/3600); //time in decimal hours
      var convertedTime = time * exchangeRate;
      return convertedTime;
    };
    var moveMarker = function(){
      convertedTime = timeInEms();
      // console.log(convertedTime);
      $(".time-marker").css( "top", convertedTime + "rem" );
    }
    var pointArrow = function(){
      var jumpRectangle = document.getElementById("jump-button").getBoundingClientRect();
      var yOffset       = window.pageYOffset;
      var topOff        = jumpRectangle.top + (jumpRectangle.height/2);
      var scrollOffset  = yOffset+topOff;
      var d             = scrollOffset-timepx(0);
      var adjacent      = window.innerWidth - (jumpRectangle.width/2);

      var angle = -Math.atan(d/adjacent);

      // console.log(
      //             "yOffset",     Math.round(yOffset),
      //             "topOff",      Math.round(topOff),
      //             "scrollOffset",Math.round(scrollOffset),
      //             "d",           Math.round(d),
      //             "adjacent",    Math.round(adjacent),
      //             "angle",       angle
      //             );
      document.getElementById("jump-button").style["transform"] = "rotate("+angle+"rad)";
    };


    var exchangeRate= 20 ;//ems per hour
    moveMarker();
    pointArrow();
    window.setInterval(moveMarker, 30000);

    $('.card').on('click tap', function(e) {
        selectedCardManager.manage( this );

        $(this).toggleClass("live-one");
        $('html, body').animate({ scrollTop: $(this).offset().top }, 300);
        $("body"        ).toggleClass("noscroll");
        $(".stack-layer").toggleClass("noscroll");        
    });

    $('.jump').on('click tap', function(e) {
        window.scrollTo(0, timepx(20));
    });

    $('.menu-button').on('click tap', function(e) {
        e.preventDefault();
        moveMarker();
        // if(!window.weHaveHadOneScroll){
        //     window.weHaveHadOneScroll = true;
        //     $(".stack-layer").removeClass("out");
        //     console.log("removed out");

        // }
        $("nav").toggleClass("in");
    });

    $( window ).scroll(function(){

      pointArrow();

      if(!window.weHaveHadOneScroll){
        moveMarker();
        //is this hammering the performance?
        window.weHaveHadOneScroll = true;
        $("nav").addClass("in");
        $(".stack-layer").removeClass("out");
      }
    });

    $(".menu-items a").each(function(){
      if($(this).attr("href") === window.location.pathname){
        $(this).parent().addClass("on-this-page");
      }
    });

});

!function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");
</script>

<script src="http://platform.twitter.com/widgets.js"></script>