<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

    // real dates
    // window.timeStart = new Date(Date.parse("Tue May 28 2015 00:00:01 GMT+1000"));
    // window.timeEnd   = new Date(Date.parse("Tue May 29 2015 23:59:59 GMT+1000"));
    // debug dates 
    window.timeStart = new Date(Date.parse("Tue May 24 2015 00:00:01 GMT+1000"));
    window.timeEnd   = new Date(Date.parse("Tue May 29 2015 23:59:59 GMT+1000"));
    console.log("here we go");
    console.log(navigator);

    ///functions///
    var setInitialVisibility = function() {
        $(".twitter-feed").css("display", "none");
        if (weAreInTheMagicTimeWindow()) {
            $(".jump"       ).css("display", "block");
            $(".time-marker").css("display", "block");
        } else {
            $(".jump"       ).css("display", "none");
            $(".time-marker").css("display", "none");
        }
    };

    var weAreInTheMagicTimeWindow = function() {
        var now = new Date(Date.now());        

        if ((now > window.timeStart) && (now < window.timeEnd)) {
            return true;
        } else {
            return false;
        }
    };

    var setCardState = function(cardState) {
        if (cardState === "in") {
            console.log("setting state in");
            $(".twitter-feed").css("display", "block");
            $(".jump"        ).css("display", "none");
            $(".time-marker" ).css("display", "none");            
        } else if (cardState === "out") {
            console.log("setting state out");
            $(".twitter-feed").css("display", "none");
            if (weAreInTheMagicTimeWindow()) {
                $(".jump"       ).css("display", "block");
                $(".time-marker").css("display", "block");
            }
        } else {
            console.log("come on dude, get your shit together.");
        }
    };
    
    var getRootElementFontSize = function() {
        //http://tzi.fr/js/snippet/convert-em-in-px
        return parseFloat(getComputedStyle(document.documentElement).fontSize);
    };
    var timepx = function(offset) {
        return getRootElementFontSize() * (timeInEms() - offset);
    };
    var timeInEms = function() {
        var now = new Date(Date.now());
        //var now = new Date(Date.parse("Tue May 05 2015 19:30:00 GMT+1000"));
        var time = now.getHours() + (now.getMinutes() / 60) + (now.getSeconds() / 3600); //time in decimal hours
        var convertedTime = time * exchangeRate;
        return convertedTime;
    };
    var moveMarker = function() {
        convertedTime = timeInEms();
        // console.log(convertedTime); XXXX
        var bump;
        if (Date.now() > window.timeStart.valueOf()+86400000){
            bump = 24*exchangeRate;
        }else{
            bump=0;
        }

        $(".time-marker").css("top", (convertedTime + bump) + "rem");
        $(".time-marker .time span").html(new Date(Date.now()).toTimeString().substring(0,5));
    }
    var pointArrow = function() {
      try{
        var jumpRectangle = document.getElementById("jump-button").getBoundingClientRect();
        var yOffset = window.pageYOffset;
        var topOff = jumpRectangle.top + (jumpRectangle.height / 2);
        var scrollOffset = yOffset + topOff;
        var d = scrollOffset - timepx(0);
        var adjacent = window.innerWidth - (jumpRectangle.width / 2);

        var angle = -Math.atan(d / adjacent);

        // console.log(
        //             "yOffset",     Math.round(yOffset),
        //             "topOff",      Math.round(topOff),
        //             "scrollOffset",Math.round(scrollOffset),
        //             "d",           Math.round(d),
        //             "adjacent",    Math.round(adjacent),
        //             "angle",       angle
        //             );
          $("#jump-button").css("transform", "rotate(" + angle + "rad)");
        }catch(e){1+1;}
    };

    var showFirstCardTweets = function(){
        var twitterWidgetParent = $("#futures-forum").find('.ff-twitter-widget');
        var twitterWidget = $('<a href="">')
          .addClass('twitter-timeline')
          .attr('width','')
          .attr('height','')
          .attr('data-widget-id', twitterWidgetParent.data('widget-id'))
          .attr('data-theme','light')
          .attr('data-link-color','rgba(150,150,150,1)')
          .attr('data-chrome','noheader nofooter noborders transparent noscrollbar')
          .attr('data-tweet-limit','20')
          .attr('data-aria-polite','polite')[0];
         console.log('created: ', twitterWidget);
        twitterWidgetParent.append(twitterWidget);
        try {
            twttr.widgets.load(twitterWidgetParent[0]);
        }catch(e){console.log(e);}
    };

    //start doing real stuff
    if (weAreInTheMagicTimeWindow()) {
        console.log("We Are In The Magic Time Window");
    }



    if (/(iPhone|iPad|iPod)/g.test(navigator.userAgent)) {
        //testing to see if we are on iOS
        console.log("I'm an iOS");
        $("ios-homescreen-explainer").css("display", "block");
        $("explainer-section").css("display", "block");
    } else if (/(Android*)/g.test(navigator.userAgent)) {
        //testing to see if we are on Android
        console.log("I'm an android");
        $("android-homescreen-explainer").css("display", "block");
        $("explainer-section").css("display", "block");
    } else {
        //maybe on desktop or a windows phone.
        console.log("I don't know where I am");
    }

    var exchangeRate = 20; //ems per hour
    setInitialVisibility();
    showFirstCardTweets();
    moveMarker();
    pointArrow();
    window.setInterval(moveMarker, 30000);

    $('.jump').on('click tap', function(e) {
        window.scrollTo(0, timepx(20));
    });

    $(window).scroll(pointArrow);



///////////////////////////////

    $('.menu-button').on('click tap', function(e) {
        e.preventDefault();
        $("nav").toggleClass("in");
    });

    var selectedCardManager = new function() {
      var selectedCard = null;
      this.removeCurrentCard = function() {
        $(selectedCard).children('.ff-twitter-widget').children().remove();
        selectedCard = null;
        if (typeof setCardState === "function") { setCardState("out"); }
        $(".front").scrollTop(0);
      };
      this.setCurrentCard = function(newCard) {
        selectedCard = newCard;
        var twitterWidgetParent = $(selectedCard).find('.ff-twitter-widget');
        var twitterWidget = $('<a href="">')
          .addClass('twitter-timeline')
          .attr('width','')
          .attr('height','')
          .attr('data-widget-id', twitterWidgetParent.data('widget-id'))
          .attr('data-theme','light')
          .attr('data-link-color','rgba(150,150,150,1)')
          .attr('data-chrome','noheader nofooter noborders transparent noscrollbar')
          .attr('data-tweet-limit','20')
          .attr('data-aria-polite','polite')[0];
        // console.log('created: ', twitterWidget);
        twitterWidgetParent.append(twitterWidget);
        twttr.widgets.load(twitterWidgetParent[0]);
        // console.log('appended to: ', twitterWidgetParent);
        if (typeof setCardState === "function") { setCardState("in"); }
      };
      this.manage = function(newCard) {
        console.log('Managing:', newCard);
        if (selectedCard === null) {
          console.log('setting current card');
          this.setCurrentCard(newCard);
        } else {
          console.log('removing current card');
          this.removeCurrentCard();
        }
      };
    }();

    $('.card').on('click tap', function(e) {
        selectedCardManager.manage(this);

        $(this).toggleClass("live-one");
        $('html, body').animate({
            scrollTop: $(this).offset().top
        }, 300);
        $("body").toggleClass("noscroll");
    });
    
    $(".menu-items a").each(function() {
        if ($(this).attr("href") === window.location.pathname) {
            $(this).parent().addClass("on-this-page");
        }
    });

});
</script>

<script src="http://platform.twitter.com/widgets.js"></script>
