<script type="text/javascript">
$(document).ready(function() {
    console.log("here we go");
    console.log(navigator);

    ///functions///
    var setInitialVisibility = function() {
        $(".twitter-feed").css("display", "none");
        if (weAreInTheMagicTimeWindow()) {
            $(".jump"       ).css("display", "block");
            $(".time-marker").css("display", "block");
        } else {
            $(".jump"       ).css("display", "none");
            $(".time-marker").css("display", "none");
        }
    };
    var setCardState = function(cardState) {
        if (cardState === "in") {
            console.log("setting state in");
            $(".twitter-feed").css("display", "block");
            $(".jump"        ).css("display", "none");
            $(".time-marker" ).css("display", "none");
        } else if (cardState === "out") {
            console.log("setting state out");
            $(".twitter-feed").css("display", "none");
            if (weAreInTheMagicTimeWindow()) {
                $(".jump"       ).css("display", "block");
                $(".time-marker").css("display", "block");
            }
        } else {
            console.log("come on dude, get your shit together.");
        }
    };
    var weAreInTheMagicTimeWindow = function() {
        var now = new Date(Date.now());
        // real dates
        // var timeStart = new Date(Date.parse("Tue May 28 2015 00:00:01 GMT+1000"));
        // var timeEnd   = new Date(Date.parse("Tue May 29 2015 23:59:59 GMT+1000"));
        // debug dates 
        var timeStart = new Date(Date.parse("Tue May 19 2015 00:00:01 GMT+1000"));
        var timeEnd = new Date(Date.parse("Tue May 29 2015 23:59:59 GMT+1000"));

        if ((now > timeStart) && (now < timeEnd)) {
            return true;
        } else {
            return false;
        }
    };
    var getRootElementFontSize = function() {
        //http://tzi.fr/js/snippet/convert-em-in-px
        return parseFloat(getComputedStyle(document.documentElement).fontSize);
    };
    var timepx = function(offset) {
        return getRootElementFontSize() * (timeInEms() - offset);
    };
    var timeInEms = function() {
        var now = new Date(Date.now());
        //var now = new Date(Date.parse("Tue May 05 2015 19:30:00 GMT+1000"));
        var time = now.getHours() + (now.getMinutes() / 60) + (now.getSeconds() / 3600); //time in decimal hours
        var convertedTime = time * exchangeRate;
        return convertedTime;
    };
    var moveMarker = function() {
        convertedTime = timeInEms();
        // console.log(convertedTime); XXXX
        $(".time-marker").css("top", convertedTime + "rem");
    }
    var pointArrow = function() {
        var jumpRectangle = document.getElementById("jump-button").getBoundingClientRect();
        var yOffset = window.pageYOffset;
        var topOff = jumpRectangle.top + (jumpRectangle.height / 2);
        var scrollOffset = yOffset + topOff;
        var d = scrollOffset - timepx(0);
        var adjacent = window.innerWidth - (jumpRectangle.width / 2);

        var angle = -Math.atan(d / adjacent);

        // console.log(
        //             "yOffset",     Math.round(yOffset),
        //             "topOff",      Math.round(topOff),
        //             "scrollOffset",Math.round(scrollOffset),
        //             "d",           Math.round(d),
        //             "adjacent",    Math.round(adjacent),
        //             "angle",       angle
        //             );
        $("#jump-button").css("transform", "rotate(" + angle + "rad)");
    };

    //start doing real stuff
    if (weAreInTheMagicTimeWindow()) {
        console.log("We Are In The Magic Time Window");
    }
    setInitialVisibility()


    if (/(iPhone|iPad|iPod)/g.test(navigator.userAgent)) {
        //testing to see if we are on iOS
        console.log("I'm an iOS");
        $("ios-homescreen-explainer").css("display", "block");
        $("explainer-section").css("display", "block");
    } else if (/(Android*)/g.test(navigator.userAgent)) {
        //testing to see if we are on Android
        console.log("I'm an android");
        $("android-homescreen-explainer").css("display", "block");
        $("explainer-section").css("display", "block");
    } else {
        //maybe on desktop or a windows phone.
        console.log("I don't know where I am");
    }

    var exchangeRate = 20; //ems per hour
    moveMarker();
    pointArrow();
    window.setInterval(moveMarker, 30000);

    $('.jump').on('click tap', function(e) {
        window.scrollTo(0, timepx(20));
    });

    $(window).scroll(function() {
        pointArrow();
    });


});

!function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");
</script>
