<div class="menu-button">
      <a href="#">menu</a>
</div>

<nav class="in">
    <div class="menu-items">
        <ul>
            <li><a href="{{                                            site.baseurl }}">Programme</a></li>
            <li><a href="{{ 'icons/index.html'                 | prepend: site.baseurl }}">Icons</a></li>
            <li><a href="{{ 'essays/'                          | prepend: site.baseurl }}">Essays</a></li>
            <li><a href="{{ 'other-pages/bigquestions.html'    | prepend: site.baseurl }}">Big Questions</a></li>
            <!-- <li><a href="{{ 'other-pages/map.html'          | prepend: site.baseurl }}">Map</a></li> -->
            <li><a href="{{ 'other-pages/speaker-bios.html'    | prepend: site.baseurl }}">Speaker Bios</a></li>
            <li><a href="{{ 'other-pages/simple-programme.html'| prepend: site.baseurl }}">Quick programme</a></li>
        </ul>
    </div>
</nav>