
.icon {
    width: 4em;
    height: 4em;
    background-color: blue;
    display: inline-block;
}
.icon-meta {
    display: none;
}
svg.logo{
    tspan {
      letter-spacing: 0.5px;
      font-family: $medium-font-family;
    }
}

.icon-index{
  background: -webkit-linear-gradient(top, #a0bab6 0%, #59c6f2 50%, #9ed9f7 100%);
  background:   linear-gradient(to bottom, #a0bab6 0%, #59c6f2 50%, #9ed9f7 100%);
}
