.jump {
  position: fixed;
  bottom: 0;

  width:  2.5em;
  height: 2.5em;
  margin: 1em;
  padding: 0.5em;
  border-radius: 50%;
  
  color: white;
  background-color: darkorange;
  
  text-align: center;
  font-size: 110%;
  }