// svg {
//   -webkit-transform: rotate(76deg) scale(4.6) translateY(-14px) translateX(-21px);
// }

use {
  display: none;
}

#futures-forum                            #flensing-deck  {display:  initial;}
#arrivals                                 #flensing-deck  {display:  initial;}
#transfer-to-moreton-island               #jetty          {display:  initial;}
#welcome                                  #flensing-deck  {display:  initial;}
#simon-longstaff-ethics                   #flensing-deck  {display:  initial;}
#gitte-lindgaard                          #flensing-deck  {display:  initial;}
#lunch                                    #flensing-deck  {display:  initial;}
#lucas-verweij                            #flensing-deck  {display:  initial;}
#anton-andrews                            #flensing-deck  {display:  initial;}
#afternoon-tea                            #flensing-deck  {display:  initial;}
#peter-buchanan                           #flensing-deck  {display:  initial;}
#close-day                                #flensing-deck  {display:  initial;}
#find-rooms-and-prepare-for-evening       #flensing-deck  {display:  initial;}
#dolphin-feeding                          #flensing-deck  {display:  initial;}
#dadb-pecha-kucha-drinks                  #marquee        {display:  initial;}
#dinner                                   #flensing-deck  {display:  initial;}
#mysterious-things                        #flensing-deck  {display:  initial;}
#breakfast                                #flensing-deck  {display:  initial;}
#check-out                                #flensing-deck  {display:  initial;}
#big-questions                            #flensing-deck  {display:  initial;}
#subject-sessions                         #flensing-deck  {display:  initial;}
#lunch                                    #flensing-deck  {display:  initial;}
#round-table                              #flensing-deck  {display:  initial;}
#close                                    #flensing-deck  {display:  initial;}
#departing-afternoon-tea                  #flensing-deck  {display:  initial;}
#transfer-to-holt-street-wharf            #flensing-deck  {display:  initial;}
#transfer-to-airport-cbd                  #flensing-deck  {display:  initial;}
#departures-to-canberra-sydney-melbourne  #flensing-deck  {display:  initial;}
#sleep                                    #flensing-deck  {display:  initial;}