
use {
    display: none;
}

#futures-forum                            use.flensing-deck  {display:  initial;}
#arrivals                                 use.flensing-deck  {display:  initial;}
#transfer-to-moreton-island               #jetty             {display:  initial;}
#welcome                                  use.flensing-deck  {display:  initial;}
#simon-longstaff                          use.flensing-deck  {display:  initial;}
#gitte-lindgaard                          use.flensing-deck  {display:  initial;}
#lunch                                    use.flensing-deck  {display:  initial;}
#lucas-verweij                            use.flensing-deck  {display:  initial;}
#anton-andrews                            use.flensing-deck  {display:  initial;}
#afternoon-tea                            use.flensing-deck  {display:  initial;}
#peter-buchanan                           use.flensing-deck  {display:  initial;}
#mid-way-wrap-up                          use.flensing-deck  {display:  initial;}
#find-rooms-and-prepare-for-evening       use.flensing-deck  {display:  initial;}
#dolphin-feeding                          use.dolphins       {display:  initial;}
#dadb-pecha-kucha                         use.beach          {display:  initial;}
#dinner                                   use.flensing-deck  {display:  initial;}
#sleeping-hopefully                       use.flensing-deck  {display:  initial;}
#breakfast                                use.breakfast      {display:  initial;}
#check-out                                use.flensing-deck  {display:  initial;}
#big-questions                            use.flensing-deck  {display:  initial;}
#futures-discourse                        use.flensing-deck  {display:  initial;}
#idea-sessions                            use.flensing-deck  {display:  initial;}
#lunch                                    use.flensing-deck  {display:  initial;}
#round-table                              use.flensing-deck  {display:  initial;}
#that-s-all-folks                         use.flensing-deck  {display:  initial;}
#next-steps                               use.flensing-deck  {display:  initial;}
#departing-afternoon-tea                  {}
#transfer-to-holt-street-wharf            {}
#transfer-to-airport-cbd                  {}
#departures-to-canberra-sydney-melbourne  {}
#sleep                                    {}


//possible locations
// flensing-deck
// breakfast
// marquee
// beach
// deepblue
// dolphins
