
use {
    display: none;
}


#futures-forum                            use.flensing-deck  {display:  initial;}
#arrivals                                 use.flensing-deck  {display:  initial;}
#transfer-to-moreton-island               #jetty             {display:  initial;}
#welcome                                  use.flensing-deck  {display:  initial;}
#simon-longstaff-ethics                   use.flensing-deck  {display:  initial;}
#gitte-lindgaard                          use.flensing-deck  {display:  initial;}
#lunch                                    use.flensing-deck  {display:  initial;}
#lucas-verweij                            use.flensing-deck  {display:  initial;}
#anton-andrews                            use.flensing-deck  {display:  initial;}
#afternoon-tea                            use.flensing-deck  {display:  initial;}
#peter-buchanan                           use.flensing-deck  {display:  initial;}
#close-day                                use.flensing-deck  {display:  initial;}
#find-rooms-and-prepare-for-evening       use.flensing-deck  {display:  initial;}
#dolphin-feeding                          use.dolphins       {display:  initial;}
#dadb-pecha-kucha-drinks                  use.beach          {display:  initial;}
#dinner                                   use.flensing-deck  {display:  initial;}
#mysterious-things                        use.flensing-deck  {display:  initial;}
#breakfast                                use.flensing-deck  {display:  initial;}
#check-out                                use.flensing-deck  {display:  initial;}
#big-questions                            use.flensing-deck  {display:  initial;}
#subject-sessions                         use.flensing-deck  {display:  initial;}
#lunch                                    use.flensing-deck  {display:  initial;}
#round-table                              use.flensing-deck  {display:  initial;}
#close                                    use.flensing-deck  {display:  initial;}
#departing-afternoon-tea                  use.flensing-deck  {display:  initial;}
#transfer-to-holt-street-wharf            use.flensing-deck  {display:  initial;}
#transfer-to-airport-cbd                  use.flensing-deck  {display:  initial;}
#departures-to-canberra-sydney-melbourne  use.flensing-deck  {display:  initial;}
#sleep                                    use.flensing-deck  {display:  initial;}



//marquee